<h2>Welcome to the NJIT Fitness Center</h2>
<!-- Add a button to navigate to the rooms page -->
<button routerLink="/rooms">Go to Rooms</button>
<button routerLink="/classes">Go to Classes</button>
<!-- <button routerLink="/classexercises">Go to Class Exercises</button> -->
<!-- <button routerLink="/exercises">Go to Exercises</button> -->
<button routerLink="/instructors">Go to Instructors</button>
<button routerLink="/members">Go to Members</button>
<!-- <button routerLink="/memberships">Go to Memberships</button> -->
<!-- <button routerLink="/registration">Go to Registration</button> -->
<button routerLink="/schedule">Go to Schedule</button>
