<div class="members-grid">
  <!-- Grid of existing members -->
  <div class="member-card" *ngFor="let member of members" (click)="navigateToMember(member.ID)">
    <div class="member-image">
      <img src="assets/Members/{{member.ID}}.jpg" alt="Member Image" class="circular-image">
    </div>
    <div class="member-info">
      <h3>{{ member.FirstName }} {{ member.LastName }}</h3>
      <p>Member Type:</p>
      <p>{{ member.Type }}</p>
    </div>
    <div class="trash-icon" (click)="deleteMember($event, member)">
      <!-- Replace the anchor tag with a span element for the delete icon -->
      <span class="delete-icon">
        <svg
            fill="#000000"
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="800px"
            height="800px"
            viewBox="0 0 490.646 490.646"
            xml:space="preserve"
          >
            <g>
              <g>
                <path
                  d="M399.179,67.285l-74.794,0.033L324.356,0L166.214,0.066l0.029,67.318l-74.802,0.033l0.025,62.914h307.739L399.179,67.285z M198.28,32.11l94.03-0.041l0.017,35.262l-94.03,0.041L198.28,32.11z"
                />
                <path
                  d="M91.465,490.646h307.739V146.359H91.465V490.646z M317.461,193.372h16.028v250.259h-16.028V193.372L317.461,193.372z M237.321,193.372h16.028v250.259h-16.028V193.372L237.321,193.372z M157.18,193.372h16.028v250.259H157.18V193.372z"
                />
              </g>
            </g>
          </svg>
      </span>
    </div>
  </div>

  <!-- Plus icon grid -->
  <div class="plus-icon-card" (click)="toggleForm()">
    <span class="plus-icon">+</span>
  </div>

  <div class="add-member-form" *ngIf="showForm">
    <h5 class="card-title">Add a Member</h5>
    <!-- Use the output event without any data payload -->
    <!-- Replace 'app-add-room' with the appropriate component for adding a member -->
    <app-add-member (onCancel)="hideForm()" (memberSubmitted)="onMemberSubmitted()"></app-add-member>
  </div>
</div>
